body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,select,textarea,form{margin: 0; padding: 0;}
body{font:14px/1.5 "宋体";}
img{border:none;}
ul,ol{list-style:none;}
input,select,textarea{outline:none;border:none;background: none;}
textarea{resize:none;}
a{text-decoration:none;color: #656565;}

/*清浮动*/
.clearfix:after{content: ""; display: block;clear: both;}
.clearfix{zoom: 1;}
.fl{float: left;}
.fr{float: right;}

.title{
    width: 1520px;
    height: 420px;
}
.background img{
    width: 100%;
}

.hide{
    display: none;
}
.nav-box{
    width: 1202px;
    height: 70px;
    margin:auto;
    position: relative;
    top: -480px;
}
.box-log{
    float: left;
    width: 120px;
    height: 24px;
    margin: 15px 20px 20px 0
}
.box-log img{
    width: 100%;
    height: auto;
}
.box-ul{
    height: 38px;
    float: left;
    margin: 16px 5px 0 0;
    display: none;
}
.box-ul ul li{
    float: left;
    padding: 10px;
}
.box-ul a{
    font-family: "Microsoft YaHei ", "微软雅黑";
}
.images{
    width: 20px;
    height: 20px;
}
.box-search{
    width: 370px;
    height: 38px;
    border: 1px solid #4593FD;
    float: left;
    border-radius: 20px;
    margin:16px;
    position: absolute;
    left: 360px;
}
.text{
    width:260px;
    height: 38px;
    margin-left: 15px;
    float: left;
    caret-color: white;
}

.input-iamges{
    width: 18px;
    height: 30px;
    margin:4px 4px 2px 3px;
}
.input-button{
    float: right;
    height: 38px;
    background-color: #4593FD;
    width: 70px;
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px;
    color: white;
}
.right-ul{
    float: right;
    width: 310px;
    height: 70px;
}
.right-ul ul img{
    width: 26px;
    height: 26px;
    position: absolute;
    top: 15px;
    background-size: 26px 26px;
}
.vip{margin-left: -4px;}
.clients{margin-left: 5px;}
.right-ul li{
    float: left;
    font-family: "Microsoft YaHei ", "微软雅黑";
    padding: 40px 12px;
    font-size: 12px;
}
.right-ul a{
    color: white;
}

.recording-div{
    width: 300px;
    height:160px;
    background: white;
    position: relative;
    left: 850px;
    top: 65px;
    display: none;
}
.triangle{
    width:0;
    height:0;
    border:8px solid;
    border-style:dotted dotted solid dotted;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: -16px;
    left: 150px;
}
.read-div-top{
    height: 50px;
    width: 260px;
    margin: auto;
    border-bottom: 1px solid #d3d3d3;
}
.read-div-top button{
    width: 65px;
    height: 30px;
    border-radius: 15px;
    color: white;
    background-color: #4593FD;
    font-size: 13px;
    border: none;
    float: left;
    position: relative;
    left: -60px;
    top: 10px;
}
.read-div-top p{
    float: left;
    position: relative;
    left: 15px;
    top: -15px;
    font-size: 13px;
    font-family: "Microsoft YaHei ", "微软雅黑";
}
.upload-div{
    width: 320px;
    height:240px;
    background-color: white;
    position: relative;
    left: 850px;
    top: 65px;
    display: none;
}
.upload-div-triangle{
    width:0;
    height:0;
    border:8px solid;
    border-style:dotted dotted solid dotted;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: -16px;
    left: 197px;
}
.upload-div-top{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    background-color: white;
    position: relative;
    top: -59px;
}
.upload-div-top-div{
    float: left;
    background-color: #4593FD;
    width: 55px;
    height: 55px;
    margin: 25px 10px;
    text-align: center;
}

.upload-div-top span{
    font-size: 13px;
    font-family: "Microsoft YaHei ", "微软雅黑";
    position: relative;
    top: 65px;
}
.upload-div-center{
    width: 320px;
    height: 60px;
    position: relative;
    top: -60px;
    background: url("../images/4.jpg");
    background-size: 320px 60px;
}
.upload-div-footer{
    height: 60px;
    background-color: #90EE90;
    position: relative;
    top: -59px;
}
upload-div-footer p{
    float: left;
    width: 150px;
}
upload-div-footer a{
    float: right;
    width: 100px;
}


.user{
    width: 38px;
    height: 38px;
    padding: 15px 12px;
}
.append-search-div{
    width: 343px;
    height: 328px;
    position: absolute;
    background: white;
    opacity: 0.9;
    left: 390px;
    top: 56px;
    font-family: "Microsoft YaHei ", "微软雅黑";
    font-size: 14px;
    display: none;
    overflow: hidden;
}
.show{
    display: block;
}
.search-div li{
    padding: 6px 10px;
}
.search-div li:hover{
    background-color: #d9edf7;
}
.search-div a{
    color: black;
}
.search-div span{
    color: #999999;
    padding-right: 5px;
}
.search-div .search-div-number{
    color: red;
}