
/*公用*/
.comWidth{width: 1000px;margin-left: auto;margin-right: auto}
.leftArea{float: left;}
.rightArea{float: right;}
.hide{display: none;}
.show{display: block;}

/*topBar*/
.topBar{height: 31px;background-color: #F7F7F7;line-height: 31px;}
.collection{
    background:url("../images/icon/collection.jpg") left center no-repeat;
    padding-left: 19px;
    font-weight: bold;
}
.topBar a:hover{
    color: #008CBA;
}

/*logo*/
.logoBar{height: 85px;background-color: #1D7AD9;}
.logo{padding-left: 41px;padding-top: 13px;}

/*search*/
.search_box{
    width: 430px;
    padding-top: 23px;
    padding-left: 185px;
}
.search_text{
    width: 350px;
    height: 35px;
    line-height: 35px\9;/*\9所代表的是所有IE浏览器的版本*/
    padding: 0 5px;
    background-color: #fff;
}
.search_btn{
    width: 70px;
    height: 35px;
    font-size: 14px;
    font-family: "Microsoft YaHei ","微软雅黑";
    background-color: #ff8c00;
    color: #FFFFFF;
}
/*购物车*/
.shopCar{
    width: 145px;
    height: 35px;
    background-color: #ff8c00;
    margin-top: 23px;
    font-size: 14px;
    font-family: "Microsoft YaHei ", "微软雅黑";
    line-height: 35px;
    margin-right: 59px;
}
.shopText{
    color: #FFFFFF;
    height: 100%;
    width: 87px;
    border-right:1px solid #E27A00 ;
    background: url("../images/icon/shopicon.jpg") 10px center no-repeat;
    text-indent: 40px;
}
.shopNum{
    width: 27px;
    height: 35px;
    border-left: 1px solid #FF9C01;
    background: url("../images/icon/sj.jpg") 33px center no-repeat;
    text-align: right;
    padding-right: 29px;
}
/*导航*/
.navBox{
    height: 35px;
    background-color: #1369C0;
    color: #FFFFFF;
}
.shopClass{
    width: 190px;
    position: relative;
}
.shopClass h3{
    text-align: center;
    line-height: 35px;
}
.shopClass i{
    width: 11px;
    height: 7px;
    overflow: hidden;
    background: url(../images/icon/down.jpg) left center no-repeat;
    display: inline-block;
    margin-left: 11px;
}
.nav,.shopClass h3{
    font-family: "Microsoft YaHei ", "微软雅黑";
}
.nav{line-height: 35px;}
.nav li{float: left;}
.nav a{height: 35px;
    display: inline-block;
    padding: 0 35px;
    color: #FFFFFF;
}
.nav .active{
    background-color: #4593FD;
}
.shopClass_show{
    background-color: #4593FD;
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
}
.shopClass_item{
    padding: 11px 10px;
    border-bottom: #3487F2 solid 1px;
    border-top: #5AA1FE;
}
.shopClass_item:last-child{
    border-bottom: none;
}
.shopClass_item .b{
    font: 14px/1 "Microsoft YaHei","微软雅黑";
}
.shopClass_item a{
    color: white
}
.shopClass_item a:hover{
    text-decoration: underline;
}
.shopClass_item dt{
    height: 22px;
    background: url("../images/icon/shop_sj.jpg") right center no-repeat;
}
.shopClass_item .aLink{
    width: 48px;
    height: 20px;
    background: url("../images/icon/aLink_bj.png") left center no-repeat;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    text-decoration: underline;
}
/*shopClass_item  active状态*/
.shopClass_active{
    background-color: #FFFFFF;
    border-left: 1px solid #4593FD;
}
.shopClass_active dt{
    background: none;
}
.shopClass_active a{
    color: #000;
}
.shopClass_active .aLink{
    color: #FFFFFF;
    text-decoration: none;
}
/*弹出的菜单*/
.shopClass_List{
    width: 568px;
    border: #ccc 1px solid;
    position: absolute;
    left: 190px;
    top:35px;
}
.shopClass_cont{
    padding: 2px 20px;
}
.shopList_item {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.shopList_item dt{
    color: #4B87D9;
    line-height: 24px;
    font-weight: bold;
    height: 24px;
}
.shopList_item dd{
    padding-left: 68px;
    line-height: 24px;
    margin-top: -24px;
}
.shopList_item dd a{
    margin-right: 12px;
}
.shopList_Links{
    padding: 15px 0px;
}
.shopList_Links a{
    color: #FFFFFF;
    background-color: #2785E6;
    height: 24px;
    line-height: 26px;
    font-size: 12px;
    display: inline-block;
    padding: 0 14px 0 8px;
    margin-right: 10px;
}
.shopList_Links span{
    background: url("../images/icon/shop_sj.jpg") left center no-repeat;
    width: 11px;
    height: 7px;
    display: inline-block;
    margin-left: 7px;
}
/*banner 部分*/
.banner{
    margin-bottom: 15px;
}
.banner_bar{
    float: right;
    position: relative;
    overflow: hidden;
}
.imgBox{
    position: absolute;
    left: 0;
    top:0;
}
.imgBox li{
    float: left;
}
.imgBox img{
    display: block;
    background-repeat: no-repeat;
}
.imgNum{
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
}
.imgNum a{
    width: 20px;
    height: 5px;
    overflow: hidden;
    background-color: #FFFFFF;
    display: inline-block;
    margin: 0 3px;
}
.imgNum .active{
    background-color: #FF7700;
}
.banner_big,
.banner_big img{
    width: 810px;
    height: 326px;
}
.banner_big.imgBox{
    width: 1620px;
    height: 326px;
}
.banner_sm,
.banner_sm img{
    width: 190px;
    height: 400px;
}
.banner_sm .imgBox{
    width: 380px;
    height: 400px;
}
    /*商品标题*/
.shopTit{
    height: 34px;
    font-family: "Microsoft YaHei ","微软雅黑";
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.shopTit h3{
    font-size: 24px;
    float: left;
    font-weight: normal;
    padding-left: 15px;
}
.icon{
    width: 44px;
    height: 44px;
    background: url("../images/icon/shaoicon.jpg") left top no-repeat;
    float: left;
}
.more{
    float: right;
    font-family: "宋体";
}
.more a:hover{
    text-decoration: underline;
}
/*商品列表*/
.shopList .leftArea{
    width: 190px;
}
.shopList .rightArea{
    width: 808px;
    border: 1px solid #999;
    border-bottom: #FF7201 solid 3px;
    height: 396px;
    overflow: hidden;
}
/*商品列表-右侧*/
.shopList_top，.shopItem_sm{
    margin-right: 0px;
}
.shop_item{
    width: 201px;
    height: 279px;
    border-right:1px solid #999;
    border-bottom:1px solid #999;
    text-align: center;
    font-family: "Microsoft YaHei ", "微软雅黑";
    float: left;
}
.shop_img{
    height: 218px;
}
.shop_img img{
    width: 60%;
    height: auto;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
}
.shop_item h3{
    font-size: 16px;
}
.shop_item p{
    font-size: 14px;
    color: #ffcc00;
    line-height: 21px;
}
/*商品列表小*/
.shopItem_sm{
    width: 201px;
    border-right: #999 solid 1px;
    overflow: hidden;
    height: 116px;
    float: left;
}
.shopItem_smImg{
    width: 88px;
    height:  88px;
    text-align: center;
    float: left;
    margin-top: 15px;
}
.shopItem_smImg img{
    width: 39px;
    height: 76px;
}
.shopItem_text{
    padding-top: 35px;
    width: 107px;
    float: left;
    padding-left: 0px;
}
.shopItem_text p{
    color: #ff7300;
    font-size: 12px;
}
.shopItem_text h3{
    font-family: "Microsoft YaHei ", "微软雅黑";
    font-size: 12px;
    font-weight: normal;
    color: #181818;
}
/*底部*/
.footer{
    text-align: center;
    background-color: #d4d4d4;
    line-height: 24px;
    padding: 50px 0;
}
.footer i{
    font-style: normal;
    margin: 0 5px;
}
.footer a{
    color: #000;
}
.footer a:hover{
    color: #f60;
}
.web img{
    margin: 0 12px;
}
.web {
    padding-top: 30px;
}